body{
    display: flex;
    flex-direction: column;
    scrollbar-gutter: stable;
}
main{
    display: flex;
    height: auto;
    flex-direction: column;
}
/* Navigation */
.navbar-brand{
    color:green;
    font-weight: bolder;
}
.nav-link{
    color: black;
}
.nav-link .active {
    color: orangered;
}
/* Menu */
.menu{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.menu ul{
list-style: none;
display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu li{
height: 20vh;
border: solid 1px ;
width: 60vh;
}
.menu a{

}
.menu li:nth-child(1){
    background:linear-gradient(rgb(255,255,255),rgb(255,255,225)), url("/html/menu/porkmenu.jpg"),no-repeat;
}




/* Footer */
footer{
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
}
footer h1{
    margin: 5%;
}
footer ul{
    display: flex;
    justify-content: space-around;
}
footer li{
    list-style: none;
}
footer a{
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
footer a:hover{
    color: yellowgreen;
}
@media (max-width: 700px){

.Services-Container ul{
    display: flex;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.Services-Container li{
    margin: 10%;
}







    footer{
        background-color: black;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        height: 100vh;

    }
    footer h1{
        margin: 5%;
    }
    footer ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
    footer li{
        list-style: none;
    }
    footer a{
        color:whitesmoke;
        text-decoration: none;
        font-size: 20px;
    }
    footer a:hover{
        color: yellowgreen;
    }
}